@charset "UTF-8";

header{
    background: #bbbbbb;
    padding: 20px 0;
}

.caixa {
    position: relative;
	width: 940px;
    margin: 0 auto; 
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

#banner {
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

#missao {
    font-size: 20pt;
}

em strong{
    color: #ff0000;
}

.itens {
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemBeneficios {
	
}

footer{
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 45px 0;
}

.coryright {
	color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0 0;
}